@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes ken-burns {
    0% {
        transform: scale(1) translate(0, 0);
    }

    100% {
        transform: scale(1.15) translate(-2%, -2%);
    }
}

.animate-ken-burns {
    animation: ken-burns 15s ease-out forwards;
}